@import url('https://fonts.googleapis.com/css?family=Raleway');
/*
    Buffer Start
*/
.top-buffer-sm {
    margin-top:2vh;
}

.top-buffer-md {
    margin-top:5vh;
}

.top-buffer-lg {
    margin-top:10vh;
}

.top-buffer-xl {
    margin-top:20vh;
}


.right-buffer-sm {
    margin-right:.5vw;
}

.left-buffer-sm {
    margin-left:.5vw;
}
/*
================================================
*/

* {
    font-family: 'Raleway', sans-serif;
}

#marginSocialIcons {
    margin-top:80%;
}

.noPadding {
    padding:0;
}

.boxPadding {
    padding-left:2vh;
   
}